<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>

  <body>
    <div id="root">
      <div class="content">
        <h1 class="content-title">
          <%= htmlWebpackPlugin.options.title %>
        </h1>
        <h2 class="content-subtitle">
          <%= htmlWebpackPlugin.options.description %>
        </h2>
      </div>
      <ul class="downloads">
        <!-- <li class="download">
          <a class="download-link" href="#">
            <span class="download-icon">
              <%= require('@twitch-player/assets/dist/public/icons/windows.svg').default %>
            </span>
            Windows
          </a>
        </li>
        <li class="download">
          <a class="download-link" href="#">
            <span class="download-icon">
              <%= require('@twitch-player/assets/dist/public/icons/macos.svg').default %>
            </span>
            macOS
          </a>
        </li>
        <li class="download">
          <a class="download-link" href="#">
            <span class="download-icon">
              <%= require('@twitch-player/assets/dist/public/icons/linux.svg').default %>
            </span>
            Linux
          </a>
        </li> -->
        <li class="download">
          <a class="download-link" href="web/">
            <span class="download-icon">
              <%= require('@twitch-player/assets/dist/public/icons/web.svg').default %>
            </span>
            Web
          </a>
        </li>
        <li class="download">
          <a class="download-link" href="tizen/">
            <span class="download-icon">
              <%= require('@twitch-player/assets/dist/public/icons/tizen.svg').default %>
            </span>
            Smart TV
          </a>
        </li>
      </ul>
      <ul class="devices">
        <li class="device device-tv">
          <%= require('@twitch-player/assets/dist/public/devices/tv.svg').default %>
        </li>
        <li class="device device-desktop">
          <%= require('@twitch-player/assets/dist/public/devices/desktop.svg').default %>
        </li>
        <li class="device device-laptop">
          <%= require('@twitch-player/assets/dist/public/devices/laptop.svg').default %>
        </li>
        <!-- <li class="device device-phone">
          <%= require('@twitch-player/assets/dist/public/devices/phone.svg').default %>
        </li> -->
      </ul>
    </div>
  </body>
</html>
